* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(206, 206, 195);
}

.gallery {
  padding: 0;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}
.stats-item {
  margin-right: 10px;
  text-align: center;
}
.photo-card {
  border-radius: 5px;
  border: solid 1px tan;
  align-items: center;
  display: block;
}

.photo-card img {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.photo-card:not(:nth-child(3n)) {
  margin-right: 30px;
  margin-bottom: 25px;
}

.photo-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 20px;
}

img {
  margin: 0 auto;
  display: block;
  width: 400px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
li {
  margin-right: 0px;
}
.is-hidden {
  display: none;
}
input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 300px;
  height: 20px;
  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}
.basicLightbox--visible {
  opacity: 1;
}
.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}
.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}
